@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap");
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 14px 89px 20px 89px;
  position: relative;
}
header h1 {
  font-weight: 400px;
  font-style: italic;
  width: 197px;
  height: 36px;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

main .localisation {
  background-color: #EAEAEA;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
main .localisation h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
}
main .localisation i {
  color: #353535;
}

.info {
  text-align: center;
  background-color: #F6F6F6;
  padding: 2.5rem;
}
.info h2 {
  font-family: "Roboto", sans-serif;
  width: 275px;
  height: 68px;
}
.info p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #353535;
  height: 46px;
}

/***Fonctionnement ***/
.fonctionnement {
  counter-reset: étapes;
  font-family: "Roboto", sans-serif;
  padding: 2rem 1rem 2rem 1rem;
}
.fonctionnement li {
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 1.7rem 2rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  position: relative;
}
.fonctionnement li::before {
  content: counter(étapes);
  counter-increment: étapes;
  color: #FFFFFF;
  background-color: #9356DC;
  width: 1.7rem;
  height: 1.7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1.4rem;
  left: -1rem;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  padding-left: 28px;
}
.fonctionnement i {
  margin-right: 1rem;
}
.fonctionnement .fa-mobile-screen-button {
  color: #7E7E7E;
}
.fonctionnement .fa-list-ul {
  color: #7E7E7E;
}
.fonctionnement .fa-store {
  color: #9356DC;
}

/***Restaurants ***/
.restaurants {
  background-color: #F6F6F6;
  font-family: "Roboto", sans-serif;
  padding: 1.5rem;
}

.cartes_restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.cartes_restaurants .new {
  position: relative;
}
.cartes_restaurants .new::before {
  content: "Nouveau";
  position: absolute;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  border-radius: 2px;
  color: #008766;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

.cartes {
  border-radius: 15px;
  background-color: white;
}
.cartes__img {
  height: 200px;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}
.cartes__img-1 {
  background-image: url("../../images/restaurants/restaurant-1.jpg");
}
.cartes__img-2 {
  background-image: url("../../images/restaurants/restaurant-2.jpg");
}
.cartes__img-3 {
  background-image: url("../../images/restaurants/restaurant-3.jpg");
}
.cartes__img-4 {
  background-image: url("../../images/restaurants/restaurant-4.jpg");
}
.cartes_description {
  position: relative;
}
.cartes_description h3, .cartes_description p {
  margin: 0.5rem;
}
.cartes_description p {
  font-weight: 300;
  padding-bottom: 0.5rem;
}
.cartes_description h3 {
  padding-top: 0.5rem;
}
.cartes_description i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.info button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

footer {
  background-color: #353535;
  padding: 1rem 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
footer p {
  padding: 0.1rem;
  font-weight: 400;
}
footer i {
  padding-right: 0.5rem;
}/*# sourceMappingURL=styles.css.map */