@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap");
.header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  padding: 14px 89px 20px 89px;
  position: relative;
}
.header__title {
  font-style: italic;
  width: 197px;
  height: 36px;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.localisation {
  background-color: #EAEAEA;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.localisation__title {
  font-weight: 500;
  color: #353535;
}
.localisation__icon {
  color: #353535;
}

.info {
  text-align: center;
  background-color: #F6F6F6;
  padding: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .info {
    padding: 30px;
  }
}
.info__title {
  height: 68px;
}
@media screen and (min-width: 1024px) {
  .info__title {
    margin: 0;
  }
}
.info__txt {
  font-weight: 300;
  height: 46px;
  color: #353535;
}
@media screen and (min-width: 1024px) {
  .info__txt {
    margin: 0;
  }
}

.fonctionnement {
  counter-reset: étapes;
  padding: 2rem 1rem 2rem 1rem;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 250px;
  }
  .fonctionnement__liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.fonctionnement__liste {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  padding-left: 28px;
}
@media screen and (min-width: 820px) {
  .fonctionnement__liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 13px;
  }
}
.fonctionnement__listeElements {
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 1.7rem 2rem;
  position: relative;
  width: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (min-width: 820px) {
  .fonctionnement__listeElements {
    padding: 1.7rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__listeElements {
    width: 322px;
  }
}
.fonctionnement__listeElements::before {
  content: counter(étapes);
  counter-increment: étapes;
  color: #FFFFFF;
  background-color: #9356DC;
  width: 1.7rem;
  height: 1.7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1.4rem;
  left: -1rem;
}
.fonctionnement .fonctionnement__icons {
  margin-right: 1rem;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .fonctionnement__icons {
    margin-left: 1rem;
  }
}
.fonctionnement .fonctionnement__icon--purple {
  color: #9356DC;
}
.fonctionnement .fonctionnement__icons--grey {
  color: #7E7E7E;
}

@media screen and (min-width: 820px) {
  .fonctionnement_title {
    padding-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement_title {
    margin: 0;
  }
}

.restaurants {
  background-color: #F6F6F6;
  padding: 1.5rem;
}
@media screen and (min-width: 820px) {
  .restaurants {
    padding-bottom: 50px;
  }
  .restaurants .cartes_restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 50px 250px;
  }
  .restaurants .cartes_restaurants {
    margin-top: 30px;
    gap: 50px 100px;
  }
}

.cartes_restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.cartes_restaurants .cartes_restaurants__new {
  position: relative;
}
.cartes_restaurants__new::before {
  content: "Nouveau";
  position: absolute;
  height: 29px;
  width: 80px;
  background-color: #99e2d0;
  border-radius: 2px;
  color: #2c9c81;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

.cartes {
  border-radius: 15px;
  background-color: white;
}
.cartes__img {
  height: 200px;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}
.cartes__img-1 {
  background-image: url("./../images/restaurants/restaurant-1.jpg");
}
.cartes__img-2 {
  background-image: url("./../images/restaurants/restaurant-2.jpg");
}
.cartes__img-3 {
  background-image: url("./../images/restaurants/restaurant-3.jpg");
}
.cartes__img-4 {
  background-image: url("./../images/restaurants/restaurant-4.jpg");
}
.cartes .cartes_description {
  position: relative;
}
.cartes .cartes_description .descriptions__title {
  padding-top: 0.5rem;
  margin: 0.5rem;
  margin-left: 18px;
}
.cartes .cartes_description .descriptions__txt {
  font-weight: 300;
  padding-bottom: 0.5rem;
  margin: 0.5rem;
  margin-left: 18px;
}
.cartes .cartes_description .descriptions__icons {
  font-size: 1.8rem;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.cartes .cartes_description .descriptions__icons--heart {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.cartes .cartes_description:hover .descriptions__icons--heart {
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #FFFFFF;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: chargement 2s 2s forwards;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-right: solid 5px transparent;
  border-top: solid 5px #9356DC;
  border-left: solid 5px #9356DC;
  animation: rotation 1s infinite;
}

@keyframes chargement {
  to {
    transform: scale(0);
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
.button {
  margin: auto;
  padding: 40px 0 40px 0;
}

.bouton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: 250ms;
}
.bouton:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: 250ms;
}
.bouton__info {
  font-size: 14px;
  width: 218px;
}
.bouton__commande {
  font-size: 16px;
  width: 186px;
}

.footer {
  background-color: #353535;
  padding: 1rem 1rem;
  color: white;
}
@media screen and (min-width: 820px) {
  .footer {
    padding: 20px 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    position: relative;
    height: 50px;
    padding: 30px 25px 30px 25px;
  }
  .footer__logo {
    right: 5rem;
    position: absolute;
    padding-left: 16rem;
    margin-top: 30px;
  }
  .footer__info {
    position: absolute;
    display: flex;
    right: 500px;
    gap: 0.5rem;
    margin-top: 30px;
  }
  .footer__info2 {
    align-items: center;
    display: flex;
    position: absolute;
    right: 250px;
    gap: 0.5rem;
    margin-top: 30px;
  }
  .footer__info2 p, .footer__info2 a {
    font-weight: 400;
  }
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
}
.footer__txt {
  padding: 0.1rem;
  font-weight: 500;
}
.footer__icons {
  padding-right: 0.5rem;
}

.header__arrow {
  display: grid;
  align-items: center;
  right: 55px;
  top: 5px;
  position: relative;
  font-size: 25px;
}
@media screen and (min-width: 820px) {
  .header__arrow {
    right: 270px;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .header__arrow {
    display: flex;
    right: 650px;
  }
}

.bannière__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
}

.resto_title {
  margin-top: -4rem;
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0rem 0rem;
  position: relative;
}
@media screen and (min-width: 820px) {
  .resto_title {
    text-align: center;
  }
}
.resto_title__name {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  height: 27px;
  font-size: 28px;
  padding: 2rem 1rem;
  margin: 0px;
}
.resto_title__icon {
  font-size: 2rem;
  height: 30px;
  position: absolute;
  right: 2rem;
  top: 60%;
  transform: translateY(-53%);
}
.resto_title .descriptions__icons--heart {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.resto_title:hover .descriptions__icons--heart {
  opacity: 1;
  transform: translateY(-55%);
}

@media screen and (min-width: 820px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 193px;
    padding-right: 193px;
  }
}

.resto_main {
  padding: 0 1rem;
  background-color: #F6F6F6;
}
@media screen and (min-width: 820px) {
  .resto_main {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .resto_main {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menus_groups {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menus_groups__titles {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
.menus_groups__titles::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  top: 1.75rem;
  left: 0rem;
}

.menus_selections {
  background-color: white;
  border-radius: 15px;
  display: flex;
  gap: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  animation: apparition 1s;
}
.menus_selections:nth-child(1) {
  animation-delay: 100ms;
  animation-fill-mode: both;
}
.menus_selections:nth-child(2) {
  animation-delay: 200ms;
  animation-fill-mode: both;
}
.menus_selections:nth-child(3) {
  animation-delay: 300ms;
  animation-fill-mode: both;
}
.menus_selections:nth-child(4) {
  animation-delay: 400ms;
  animation-fill-mode: both;
}
.menus_selections:nth-child(5) {
  animation-delay: 500ms;
  animation-fill-mode: both;
}
.menus_selections .description {
  padding-right: 50px;
  width: 349px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus_selections .description__title {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  white-space: nowrap;
}
.menus_selections .description__txt {
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  margin: 0;
  white-space: nowrap;
}
.menus_selections .description__prix {
  margin-left: auto;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
  padding-left: 0;
  left: -5px;
  position: relative;
}
.menus_selections .check {
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  margin-right: -5rem;
  width: 3rem;
  display: grid;
  place-items: center;
  transition: 1s;
}
@media screen and (min-width: 1024px) {
  .menus_selections .check {
    margin-right: -5rem;
  }
}
.menus_selections .check__icon {
  color: #F6F6F6;
}
.menus_selections:hover .check {
  margin-right: 0rem;
  transition: 1s;
}
.menus_selections:hover .description__title {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus_selections:hover .description__txt {
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus_selections > * {
  padding: 15px;
}

/***** Animation ****/
@keyframes apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */