
main .localisation {
    background-color:#EAEAEA;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #353535;
    }

    i {
        color: #353535;
    }
}

.info {
    text-align: center;
    background-color: #F6F6F6;
    padding: 2.5rem;

    h2{
        font-family: 'Roboto', sans-serif;
        width: 275px;
        height: 68px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300 ;
        color: #353535;
        height: 46px;
    
    }
}