

main .localisation {
    background-color:#EAEAEA;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    text-align: center;

    & h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #353535;
    }

    & i {
        color: #353535;

    }
}

.info {
    text-align: center;
    background-color: #F6F6F6;
    padding: 2.5rem;

    h2{
        font-family: 'Roboto', sans-serif;
        width: 275px;
        height: 68px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300 ;
        color: #353535;
        height: 46px;
    
    }
}

/***Fonctionnement ***/

.fonctionnement {
    counter-reset: étapes;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 1rem 2rem 1rem;
    

& li{
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 1.7rem 2rem;
    box-shadow: 0px 4px 10px 0px #00000040;
    position: relative;
    &::before{
        content: counter(étapes);
        counter-increment: étapes;
        color: #FFFFFF;
        background-color: #9356DC;
        width: 1.7rem;
        height: 1.7rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: absolute;
        bottom: 1.4rem;
        left: -1rem;
    }

}

& ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    padding-left: 28px;
}

& i {
    margin-right: 1rem;
}

    .fa-mobile-screen-button {
        color: #7E7E7E;
    }
    
    .fa-list-ul {
        color:#7E7E7E;
    }

    .fa-store {
        color: #9356DC;
    }
}

/***Restaurants ***/

.restaurants {
    background-color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
    padding: 1.5rem;
}


.cartes_restaurants {
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;

.new {
    position: relative;
}
.new::before{
    content:"Nouveau";
    position:absolute;
    height: 29px;
    width: 80px;
    background-color: #99E2D0;
    border-radius: 2px;
    color: #008766;
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
}
}

.cartes{
    border-radius: 15px;
    background-color: white;
    
    &__img {
    height: 200px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    }
    
    @for $i from 1 through 4 {
    &__img-#{$i} {
        background-image: url("../../images/restaurants/restaurant-#{$i}.jpg");
}
}

&_description {
    position: relative;
    

    h3,p {
        margin: 0.5rem;
        
        
    }
    p {
        font-weight: 300;
        
        padding-bottom: 0.5rem;
    }

    h3 {
        padding-top: 0.5rem;
    }

    i {
        font-size: 1.5rem;
        position: absolute;
        right: 1rem;
        top : 50%;
        transform: translateY(-50%) ;
    }
}
}
    

