
.header__arrow {
   display: grid;
   align-items: center;
   right: 70px;
   top : 5px;
   position: relative;
   font-size: 25px;

   @media screen and (min-width: 820px){
      right: 270px;
      display: flex;
   }

   @media screen and (min-width: 1024px){
      display: flex;
      right: 550px,
   }
}

.bannière__img {
   width: 100%;
   object-fit: cover;
   height: 275px;
}


.resto_title{
   margin-top: -4rem;
   background-color: #F6F6F6;
   border-radius: 2rem 2rem 0rem 0rem;
   position: relative;

      @media screen and (min-width: 820px){
         text-align: center;
      }

      &__name {
         font-family: "Shrikhand", sans-serif ; 
         font-weight: 400;
         height: 27px;
         font-size: 28px;
         padding: 2rem 1rem;
         margin: 0px;
      }

      &__icon {
         font-size: 2rem;
         height: 30px;
         position: absolute;
         right: 5rem;
         top : 60%;
         transform: translateY(-53%) ;
      }

      .descriptions__icons--heart {
         color: transparent;
         background-image: linear-gradient(to top,$primary-color,$secondary-color);
         background-clip: text;
         -webkit-background-clip: text;
         opacity: 0;
         transition: all 200ms ease-in-out;
  }
      &:hover .descriptions__icons--heart{
          opacity: 1;
          transform: translateY(-55%) 
      }
   
}

.container{
   @media screen and (min-width: 820px){
      padding-left: 50px;
      padding-right: 50px;
   }

   @media screen and (min-width: 1024px){
      padding-left: 193px;
      padding-right: 193px;
   }
}

//Menu du restaurant

.resto_main {
   padding: 0 1rem;
   background-color: #F6F6F6;

   @media screen and (min-width: 820px){
      padding-left: 50px;
      padding-right: 50px;
   }

   @media screen and (min-width: 1024px){
      padding-left: 200px;
      padding-right: 200px;
   }
   
}


.menus {
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.menus_groups{
   display: flex;
   flex-direction: column;
   gap: 12px;
   
   
   &__titles {
      margin: 0;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 12px;

      &::after {
      position: absolute;
      content: "";
      height: 3px;
      width: 40px;
      background-color:$tertiary-color;
      top: 1.75rem;
      left: 0rem;
      }
   }
}

.menus_selections{
   background-color: white;
   border-radius: 15px;
   display: flex;
   gap: 5px;
   overflow: hidden;
   @include box-shadow;
   
   
  animation: apparition 1s;

   @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: 100ms * $i; 
        animation-fill-mode: both;
        
      }
      }

      .description{
         padding-right: 50px;
         width: 349px;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
     
         &__title {
            font-size: 18px;
            line-height: 21px;
            margin: 0;
            white-space: nowrap;
         }
   
         &__txt {
            font-weight: 300;
            font-size: 15px;
            line-height: 17px;
            margin: 0;
            white-space: nowrap;
         }
      }

      .description__prix {
         margin-left: auto;
         font-weight: 900;
         display: flex;
         align-items: flex-end;
         padding-left: 0;
         left : -5px;
         position: relative;
      }

      .check {
         background-color: $tertiary-color;
         border-radius: 0px 15px 15px 0px;
         margin-right: -4rem;   
         width: 3rem;
         display: grid;
         place-items: center;
         transition: 1s ;  

         @media screen and (min-width: 1024px){
            margin-right: -5rem; 
         }

         &__icon {
         color:#F6F6F6;
         }
   
      }  
      &:hover{
         .check {
         margin-right: 0rem; 
         transition: 1s;
      }

      .description__title{
         font-size: 18px;
         line-height: 21px;
         @include resto_txt_property;
      }

      .description__txt {
         font-weight: 300;
         font-size: 15px;
         line-height: 17px;
         @include resto_txt_property;
      }
}

& > * {
      padding: 15px;
   }
}

/***** Animation ****/

@keyframes apparition{
   0% {
      transform: translateY(50%);
      opacity: 0;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}
