@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap');

footer {
    background-color: #353535;
    padding : 1rem 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;

;
   h2 {
    font-family: "Shrikhand" ;
    font-weight: 400;
    font-size: 18px;
} 
    p {
        padding: 0.1rem;
        font-weight: 400
    }

    i {
        padding-right: 0.5rem;
    }
}

@media screen and (min-width: 820px) {
    
    footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
}

@media screen and (min-width: 1024px){

    footer {
        display: flex;
        justify-content: flex-end;
        gap:2rem;

    }
}
