@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap');
 

.header {
    font-family: "Shrikhand", cursive ;
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0/25%);
    display: flex;
    justify-content: center;
    padding: 14px 89px 20px 89px;
    position: relative;
    .header__title {
        font-style: italic;
            width: 197px;
            height: 36px;
            margin: 0;
    }
}

